@model Nutrigo_SINERA.Models.ClsAlumno
@{
    Layout = "~/Views/Shared/LayoutColegio.cshtml";
    ViewBag.Title = "Editar Alumno";
}

<h2>Editar Alumno</h2>

@using (Html.BeginForm("EditarAlumno", "Colegio", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Edad)
        @Html.TextBoxFor(m => m.Edad, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Sexo)
        @Html.DropDownListFor(m => m.Sexo,
                 new SelectList(new[] { "Masculino", "Femenino" }),
                 "-- Seleccione sexo --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Grado)
        @Html.TextBoxFor(m => m.Grado, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Seccion)
        @Html.TextBoxFor(m => m.Seccion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Correo)
        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", type = "email" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Contrasena)
        @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Guardar cambios</button>
    @Html.ActionLink("Cancelar", "Estudiantes", null, new { @class = "btn btn-secondary ml-2" })
}
