@model Nutrigo_SINERA.Models.ClsColegio
@{
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
    ViewBag.Title = "Editar Colegio";
}

<h3 class="mb-4">✏️ Editar Colegio</h3>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <h5>🏫 Información del Colegio</h5>
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control mb-2", placeholder = "Nombre del colegio" })
            @Html.TextBoxFor(m => m.CodigoModular, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.TipoColegio, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.NivelEducativo, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.Ubicacion, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.CorreoInstitucional, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.CantidadAlumnos, new { @class = "form-control mb-2", type = "number" })
        </div>

        <div class="col-md-6">
            <h5>👤 Representante</h5>
            @Html.TextBoxFor(m => m.RepresentanteNombre, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.RepresentanteCargo, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.RepresentanteDNI, new { @class = "form-control mb-2" })
            @Html.TextBoxFor(m => m.RepresentanteCorreo, new { @class = "form-control mb-2"}) <!-- Para evitar modificar -->
            @Html.TextBoxFor(m => m.RepresentanteCelular, new { @class = "form-control mb-2" })
            @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control mb-2" })
            <div class="form-check mt-3">
                <label class="form-check-label">
                    @Html.CheckBoxFor(m => m.Activo) ¿Activo?
                </label>
            </div>
        </div>
    </div>

    <hr />
    <button type="submit" class="btn btn-primary">💾 Actualizar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
}
